@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

* {
	/*transition: all 0.5s ease-in-out;*/
	box-sizing: border-box;
}

body {
  font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*padding-top: 90px;*/
  overflow-x: hidden;
  color:#333;
  font-size: 16px;
  line-height: 1.5;
  margin:0 !important;
  padding:0 !important;
}
h1, h2, h4 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 0;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
}
hr {
	border:0;
	border-top: 1px solid #ababab;
}
section {
	width:100%;
}
.btn-warning, .btn-warning:hover {
	background-color:#CC935C;
	border-color: #CC935C;
}
.h-d {
	display: none;
}

.p-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.p-533 {
	padding-top: 55px;
	padding-bottom: 20px;
}
.p-55 {
	padding-top: 38px;
	padding-bottom: 63px;
}
.p-40_3 {
	padding-top: 40px;
	padding-bottom: 33px;
}
.p-55_2 {
	padding-top: 55px;
	padding-bottom: 55px;
}
.mt0 {
	margin-top:0;
}
.mb0{
	margin-bottom: 0;
}
.m-auto {
	margin:auto;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
}
.navbar-inverse.darkHeader{
	background-color: rgba(0,0,0,0.7);
}
.navbar-brand {
	height: auto;
}
.navbar-nav > li {
	padding: 20px 0;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #fec748;
}

#home {
	margin-top: -90px;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	color: #fff;
	margin: auto;
	text-align: center;
}
.fullscreen-video-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
}
.fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.video-img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
	background: url(../images/video.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.video-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,37,106,0.50);
    z-index: 1;
}

/* .video-overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #2d2d2d url(../images/dot.png);
	z-index: 1;
	opacity: 0.45;
} */
/* .video-content {
	z-index: 2;
	text-align: center;
	margin:auto;
	max-width: 1000px;
} */
.video-content {
    z-index: 2;
    text-align: center;
    margin: auto;
    width: 500px;
    height: 500px;
    position: relative;
    text-align: center;
}
.video-text {
    position: absolute;
    width: 73%;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.comming-h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 5px;
    margin: 0;
    font-family: 'Josefin Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.comming {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-family: 'Josefin Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tiktak {
    position: absolute;
    top: 19%;
    left: 19%;
    width: 70%;
    height: 70%;
    z-index: 1;
    opacity: 0.8;
}
.video-content svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
}
/* .video-content h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 30px;
    letter-spacing: 5px;
    font-family: 'Josefin Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
} */
.video-content h1 span {
    font-size: 40px;
    display: block;
}
.video-content a .fa {
	color: #fff;
	font-size: 70px;
}

#about {
	position: relative;
	overflow:hidden;
}
.parallax-bg {
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
	height: 100%;
}
.about-div {
	background-color: #fff;
}
.about-div h2 {
	color: #333;
	margin-top: 0;
	text-transform: uppercase;
}
.divider {
	width: 70px;
	height: 5px;
	background-color: #f7ae00;
}
.about-div p {
	margin-top: 20px;
	font-size: 16px;
	color: #333;
	padding-right: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: 300;
}
#developments {
	background-color: #efefef;
}
.dev-div {
	width: 100%;
	margin-top: 25px;
	position: relative;
	align-items: center;
	border-radius: 4px;
	overflow: hidden;
	max-height: 320px;
	transition: all 0.5s ease-in-out;
}
.project-details {
    color: #fff;
    text-decoration: underline;
}
.project-details:hover {
    color: #f7ae00;
    transition: all 0.5s ease-in-out;
}

.dev-div .dev-img {
	width: 100%;
	transition: all 0.5s ease-in-out;
}
.dev-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #111  url(../images/dot.png);
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.project-name {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	transition: all 0.5s ease-in-out;
}
.project-name h3 {
	padding: 15px;
	color: #f7ae00;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}
.project-name p {
	color: #fff;
}
.dev-content {
	z-index: 2;
	text-align: center;
	width: 100%;
	color: #fff;
	position: absolute;
	top:45%;
  	left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	align-items: center;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.dev-content h3 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 700;
}
.dev-content p {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 15px;
}
.dev-content2 {
	background: #fff;
	color: #333;
	padding: 15px 15px 18px;
	transition: all 0.5s ease-in-out;
}
.dev-content2 h3 {
	margin-top: 0;
}
.dev-div:hover .dev-img {
	transform: scale(1.05);
}
.dev-div:hover .dev-overlay {
	opacity: 0.6;
}
.dev-div:hover .dev-content {
	opacity: 1;
	top:50%;
}
.dev-div:hover .project-name{
	bottom: -100px;
}

#key_people {
	background-color: #f7f7f7;
	min-height: 58vh;
}
.key-div {
	background: #fff;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	padding:10px 5px;
	margin-top: 25px;
	min-height: 137px;
}
.key-div ul {
	margin:0;
}
.key-div ul li {
    margin-bottom: 7px;
}
.key-div ul li:first-child {
    min-height: 60px;
}
.member {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #eeeeee;
}
.member.box {
	width: auto;
	border-radius: 0;
	border: none;
	height: auto;
}
.key-div p {
	font-size: 12px;
	font-weight: 700;
}
#dev-type {
	background: #efefef;
}
#dev-type img {
	margin-bottom: 15px;
	height: 86px;
}
#dev-type p{
    text-transform: uppercase;
    font-size: 20px;
    color: #c6a52a;
    margin: 0;
    font-weight: 700;
    font-family: 'Josefin Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#footer {
    background-color:#525252;
    font-size: 14px;
    color: #fff;
}
.p-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
#footer a {
    color: #fff;
}
.address {
    margin-top: 15px;
    margin-bottom: 0;
}
.social-p {
    margin-top: 0px;
    margin-bottom: 0;
}
#footer a {
    color: #fff;
}
.social-p a .fa {
	border-radius: 0;
    color: #525252;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: all .3s ease 0s;
    width: 30px;
    border-bottom: none;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #f4f4f4;
}

.social-p a:hover .fa-facebook {
	background-color: #3b5998;
	color: #fff
}
.social-p a:hover .fa-linkedin {
	background-color: #0073AF;
	color: #fff
}
.h-d {
    display: none;
}
hr {
    border: 0;
    border-top: 1px solid #ababab;
}
.quick-links {
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 25px;
    display: inline-block;
    padding-left: 0;
	margin: 0 auto;
	padding-top: 15px;
}
.quick-links li {
    text-align: left;
}
#footer a {
    color: #fff;
}
.pad-left-35 {
	padding-left: 35px;
}
.quick-links .list-inline {
	margin-bottom: 0;
}
.company_name{
	font-size: 16px;
	color: #fec84a;
	font-weight: 700;
	text-transform: uppercase;
}

#footer a {
    color: #ffffff;
}
#footer a:hover {
	text-decoration: none;
}
.h-m {
	display: block;
}

.left-right-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.map {
    border: 1px solid #e1e1e1;
}

.modal-header .close {
    padding: 10px;
}

button.close {
    background-color: #CC935C;
}

.close {
    font-size: 1rem;
    opacity: 1;
    font-weight: 400;
    color: #fff;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
    color: #fff;
}

button:focus {
    outline: transparent;
}
.modal-dialog {
	width: 750px;
}
.form-group {
	margin-bottom: 5px;
}
.form-control {
	border-radius: 2px;
}
#message {
	height: 138px;
}
.modal-dialog .form-control:focus {
	border-color: #CC935C;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #CC935C;
  color: white;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 2px;
}
.go-down {
    position: absolute;
    z-index: 3;
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    bottom: 3%;
    left: 50%;
    margin-left: -25px;
    color: #fff;
}
.go-down .fa {
    margin-top: 15px;
    font-size: 20px;
}
.go-down:hover .fa, .go-down:focus .fa {
    color: #fff;
}
.key_info_plus {
	padding:3px 7px 1px;
	color: #333;
	border: 1px solid #999;
	border-radius: 5px;
	margin-top: 5px;
}

#footer2 {
	background-color: #777;
	color: #fff;
	padding: 25px 0;
}
.copyright {
	padding:0;
	margin:0;
	line-height: 1.5;
}

.concept-div {
	border: 1px solid #e6e6e6;
	margin-bottom: 5px;
	background-color: #fff;
	border-radius: 4px;
	padding:15px;
	margin-top: 10px;
}
.modal {
	text-align: center;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
#contact_us {
	padding-top: 23px;
    padding-bottom: 20px;
    background-color: #c7d2e2;
    width: 100%;
}
.a-s {
    border-radius: 0;
    border: 1px solid #666 !important;
    width: 98% !important;
    box-shadow: none;
}
.a-e {
    float: right;
}
#contact_us .form-inline .col-md-6, .form-inline .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
#contact_us .form-group {
	margin-bottom: 5px;
}
#contact_us .form-control {
	border-radius: 2px;
}
#contact_us #message {
	height: 96px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #666;
	border-radius: 0;
}
.subscribe-btn {
	width: 100%;
	margin-bottom: 10px;
}
.btn-default {
    color: #fff;
    background-color: #666;
    border-color: #666;
    border-radius: 0;
}
.btn-default:hover {
    background-color: #555;
    color: #fff;
}

#working {
	background: #EFEFEF;
}

@media only screen and (min-device-width :320px) and (max-device-width :1024px) {
	.joint-ventures img {
		width: 150px !important;
	}
	h1, h2 {
		letter-spacing: 1px;
		font-size: 30px !important;
	}
	.h-d {
		display: block;
	}
	.h-m {
		display: none;
	}
	/* .video-content {
		width: 90%;
	} */
	.video-content {
		width: 250px;
		height: 250px;
	}
	.a-s {
	    margin-bottom: 10px;
	    width: 100% !important;
	}
	.about-div p {
		padding-right: 0;
	}
	.navbar-toggle {
		margin-top: 27px;
		border:0;
	}
	.navbar-nav > li {
		padding: 0;
	}
	.dev-content, .dev-overlay {
		display: none;
	}
	.dev-div:hover .dev-img {
		transform: scale(1);
	}
	#dev-type img {
		max-height: 114px;
	}
	#dev-type p {
		margin-bottom: 15px;
		font-size: 20px;
	}
	#dev-type .last-p {
		margin-bottom: 0;
	}
	.quick-links {
		text-align: left;
	}
	.quick-links .list-inline {
		margin-bottom: 15px;
	}
	.map {
		margin-top: 15px;
	}
	.modal-dialog {
		width: 95%;
	}
	.dev-div {
		max-height: inherit;
	}
	.project-details {
		color: #000;
	}
	.key-div {
		min-height: 155px;
	}
	.quick-links {
		padding-top: 0;
	}
	.go-down {
		bottom: 20%;
	}
	.comming {
		font-size: 14px;
	}
	#home {
		display: block;
	}
	.video-content {
		position: absolute;
		/* top: 50%;
		margin-top: -125px;
		left: 50%;
		margin-left: -125px; */
		top: 50%;
		left:50%;
		-ms-transform: translate(-50%,-50%); /* IE 9 */
		-webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
		transform: translate(-50%,-50%);
	}
	.modal:before {
		height: 10%;
	}
	
}
@media screen and (max-width:767px) {
	.quick-links {
		float: left;
		clear: both;
		margin-bottom: 15px;
		padding-top: 0;
	}
	.pad-left-35 {
		padding-left: 0;
	}
	.dev-div {
		max-height: inherit;
		margin-top: 15px;
	}
	.project-details {
		color: #000;
	}
	/* h1, h2 {
		font-size: 25px !important;
		line-height: 37px;
	} */
	h1, h2 {
		letter-spacing: 1px;
		font-size: 30px !important;
	}
	.tiktak {
		position: absolute;
		top: 20%;
		left: 20%;
		width: 60% !important;
		height: 60% !important;
		z-index: 1;
	}
	.video-content h1 span {
		font-size: 16px;
	}
	.p-55 {
		padding-top: 0;
		padding-bottom: 15px;
	}
	.key-div {
		margin-top: 15px;
	}
	.p-533 {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.p-40_3 {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.p-25 {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-inverse {
		background-color: rgba(0,0,0,0.7);
	}
	.key-div {
		min-height: 121px;
		padding: 0;
	}
	#message {
		height: 110px;
	}
}
@media only screen and (min-device-width :1025px) and (max-device-width :1400px) {
	.video-content {
		z-index: 2;
		text-align: center;
		margin:auto;
		width: 400px;
		height: 400px;
		position: relative;
		text-align: center;
	}
	.comming-h1 {
		font-size: 58px;
	}
	#about {
		/*height: 90vh;*/
	}
}
.popover {
    color: #000;
}
/*  */
section#disclaimer {
	position: relative;
    height: 50vh;
    background: url(../images/poster.jpg);
    background-size: cover;
    background-position: bottom center;
    max-height: 130px;
}
#key_people.p-533 {
    padding-top: 33px;
    padding-bottom: 30px;
}
/*  */

.popover__title {
	font-size: 24px;
	line-height: 36px;
	text-decoration: none;
	color: rgb(228, 68, 68);
	text-align: center;
	padding: 15px 0;
  }
  
  .popover__wrapper {
	position: relative;
	/* margin-top: 1.5rem;
	display: inline-block; */
  }
  .popover__content {
	opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    transform: translate(0, 5px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.35);
    width: 100%;
    max-width: 360px;
    /* margin-left: -180px; */
    top: 100%;
  }
  .popover__content:before {
    position: absolute;
    z-index: 1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__content:after {
	position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #eae8e8 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  /*.popover__wrapper:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -10px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	background: #fff;
  }*/
  .popover__content.show {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -10px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	background: #fff;
  }
  .popover__message {
    text-align: justify;
    font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal !important;
	font-size: 12px;
	color:#2f2f2f;

}
/*  */
#myclock {
    width: 310px;
    height: 310px;
}
#myclock canvas {
    width: 100%;
    height: 100%;
}
.privacy-policy li {
	margin-bottom: 10px;
}
.popover__message:last-of-type {
	margin-bottom: 0;
}
@media screen and (max-width:767px) {

	.col-sm-3.chingford-logo {
		width: auto !important;
	}

	.joint-ventures {
		float: left;
		width: 100%;
		clear: both;
	}

	.case-block {
		margin-bottom: 15px;
	}

	.case-block.last {
		margin-bottom: 0px;
	}
	.popover__content {
		max-width: 767px;
		top: 100%;
	}
	.key-div {
		margin-bottom: 15px;
	}
	.padding-right-half {
		padding-right: 7.5px;
	}
	.padding-left-half {
		padding-left: 7.5px;
	}
	.key-div ul {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.margin-bottom-13 {
	margin-bottom: 13px;
}
#success_message {
    display: none;
}
label.error {
    font-size: 12px;
    color: red;
}
.privacy-policy {
    min-height: 59vh;
}


.top4 img {
    margin-bottom: 0px;
    width: 100%;
}





@media only screen and (max-device-width: 1199px) and (min-device-width: 767px){
	.tiktak {
		position: absolute;
		top: 20%;
		left: 20%;
		width: 60% !important;
		height: 60% !important;
		z-index: 1;
	}
	.go-down {
		bottom: 4%;
	}
}

@media only screen and (max-width: 991px) {
    .top4 img {
        margin-bottom: 15px !important;
    }
    
    .last img {
        margin-bottom: 0px !important;
    }
}

.custom-link {
    color: #fff;
    text-decoration: none;
}

.custom-link:hover,
.custom-link:focus {
    color: #fff;
    text-decoration: none;
}

.custom-link2 {
    color: #F7AE00;
    text-decoration: none;
}

.custom-link2:hover,
.custom-link2:focus {
    color: #F7AE00;
    text-decoration: none;
}

#about.p-533 {
    padding-top: 23px;
    padding-bottom: 20px;
}

#case.p-533 {
	padding-top: 23px;
	padding-bottom: 20px;
}

#case {
	background-color: #EFEFEF;
}

.cstyle {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	padding: 15px;
}

.case-block {
    background: #fff;
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

.boxes {
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
}

.special li {
	font-size: 15px;
}

.special {
	padding-left: 15px;
}

#working.p-533 {
	padding-top: 23px;
	padding-bottom: 20px;
}

.plus {
	padding-left: 20px;
}

.chingford {
	border: 1px solid #e6e6e6;
	margin-top: 20px;
	margin-bottom: 15px;
}

.col-lg-3.chingford-logo {
	width: 20%;
}

/*.col-md-3.chingford-logo {
	width: 20%;
}

.col-sm-3.chingford-logo {
	width: 25% !important;
}*/

/*.cmargin {
	margin-top: 11px;
}*/

.concept-ul {
	margin-bottom: 0px;
}

.architect h5 {
    font-size: 15px;
    font-weight: bold;
    display: inline;
    color: #ad7e0d;
}

.architect img {
	border: 1px solid #e6e6e6;
	margin-top: 15px;
	margin-bottom: 15px;
}

.joint-ventures img {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	width: 155px;
}

.jv {
	color: #ad7e0d;
	font-size: 16px;
	font-weight: bold;
}

.break-and {
	color: #333;
	font-size: 20px;
	font-weight: bold;
}
.nopad {
	padding:0 !important;
}